<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/26.02/assets/style.css">
</head>
<body>
    
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <h3>{{ dodawanie }}</h3>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae similique veritatis quidem alias vel sequi temporibus! Commodi odit deleniti consequatur harum vitae, maiores rerum cumque, deserunt voluptatum doloribus aliquam. Nemo?</div>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>

    <input type="text" id="input">
    <button id="btn">Klik</button>
    <div id="output"></div>
    <script src="./../js/func.js"></script>
</body>
</html>